# Default owners for everything in the repo
* @DeontewattsV1

# GitHub Actions
/.github/workflows/ @DeontewattsV1

# Python code
/python/ @DeontewattsV1

# Documentation
/docs/ @DeontewattsV1

# Examples
/examples/ @DeontewattsV1

# Tests
/tests/ @DeontewattsV1